.about .bio {
  @media screen and (min-width: 900px) {
    margin: 16svh 0;
  }
}

.about .contact-link {
  @media screen and (min-width: 900px) {
    margin-bottom: 16svh;
  }
}

.about .header-main {
  position: static;
}

.about-subhead {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  margin: 2vh 2vh 4vh;

  p {
    max-width: 900px;
  }
}

.about .title-lg {
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-name: fade;
  line-height: 1.2;
  margin-top: 8rem;
  opacity: 0;
}

.desk-photo-wrapper {
  margin: 0 0 4vh;
  width: 100%;
}

.desk-photo {
  width: 100%;
}

.flow-about p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0 0 2vh;
}

.header-about {
  margin: 4vh 4vh 6vh;
}
