.dynamic-color {
  animation: color-change 16s infinite;
  color: var(--vermillion);
}

/* keyframes and animations */

@keyframes color-change {
  0% {
    color: var(--vermillion);
  }

  10% {
    color: var(--rosy-brown);
  }

  30% {
    color: var(--navy-blue);
  }

  50% {
    color: var(--lime);
  }

  70% {
    color: var(--bisque);
  }

  90% {
    color: var(--vermillion);
  }
}